@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.home-container {
  overflow-x: hidden;
  background: #10002b;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}
